:root {
    --main-bg-color: #222222;
    --main-txt-color: white; 
    --main-banner-color: rgb(241,99,71);
    --main-font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
}

* {
	margin:0px;
	padding:0px;
}

html {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    margin-bottom: 6vw; /* Margin bottom by footer height */
}

.navbar {
    background-color: var(--main-banner-color);
    font-family: var(--main-font-family);
}

.navbar-brand {
    font-weight: 500;
}

.container-fluid {
    margin-top: 5vw;
    color: var(--main-txt-color);
    font-family: var(--main-font-family);
}

.greeting {
    font-size: 2.5vw;
}

.content {
    font-size: 1.5vw;
}

/* css for projects */
.projects .container-fluid {
    margin-top: 3vw;
}

.row:not(:first-child) {
    margin-top: 3vw;
}

.row a {
    text-decoration: none;
}

.projects .row ul {
    margin-left: 1.5vw;
    margin-top: -0.5vw;
}

.project_name {
    font-size: 1.8vw;
    font-family: var(--main-font-family);
}

.time {
    font-size: 1.3vw;
    font-family: var(--main-font-family);
    display: block;
}

.project_content {
    font-size: 1.2vw;
}

/* css for experience.html */
.comma {
    display: none;
}

.employer {
    font-size: 1.5vw;
    font-family: var(--main-font-family);
    display: block;
}

.experience .row ul {
    margin-top: 0vw;
}


.footer {
    height: 3vw;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: var(--main-font-family);
    background-color: var(--main-txt-color);
    text-align: center;
}

.footer p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8vw;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .container-fluid {
        margin-top: 8vw;
        color: var(--main-txt-color);
        font-family: var(--main-font-family);
    }

    .greeting {
        font-size: 5vw;
    }
    
    .content {
        font-size: 3.5vw;
    }

    .row ul {
        margin-left: 4vw;
        margin-top: -2.5vw;
    }
    
    .project_name {
        font-size: 5vw;
        font-family: var(--main-font-family);
    }

    .time {
        font-size: 4vw;
        font-family: var(--main-font-family);
        display: inline-block;
        margin-left: 1vw;
    }
    
    .project_content {
        font-size: 3.5vw;
    }

    .comma {
        display: inline;
    }
    
    .employer {
        font-size: 4vw;
        font-family: var(--main-font-family);
        display: inline;
    }


    .footer {
        height: 8vw;
    }

    .footer p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) and (orientation: portrait) {
    .container-fluid {
        margin-top: 8vw;
        color: var(--main-txt-color);
        font-family: var(--main-font-family);
    }

    .greeting {
        font-size: 5vw;
    }
    
    .content {
        font-size: 3.5vw;
    }

    .projects .row:last-child {
        padding-bottom: 8vw;
    }

    .row ul {
        margin-left: 4vw;
        margin-top: -2.5vw;
    }
    
    .project_name {
        font-size: 3.5vw;
        font-family: var(--main-font-family);
    }

    .time {
        font-size: 3vw;
        font-family: var(--main-font-family);
        display: inline-block;
        margin-left: 1vw;
    }
    
    .project_content {
        font-size: 2vw;
    }

    .comma {
        display: inline;
    }
    
    .employer {
        font-size: 3vw;
        font-family: var(--main-font-family);
        display: inline;
    }

    .footer {
        height: 6vw;
    }

    .footer p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    .container-fluid {
        margin-top: 3vw;
        color: var(--main-txt-color);
        font-family: var(--main-font-family);
    }

    .greeting {
        font-size: 4vw;
    }
    
    .content {
        font-size: 2.5vw;
    }

    .projects .row:last-child {
        padding-bottom: 2vw;
    }

    .row ul {
        margin-left: 2vw;
        margin-top: -1.5vw;
    }

    .project_name {
        font-size: 3.5vw;
        font-family: var(--main-font-family);
    }

    .time {
        font-size: 3vw;
        font-family: var(--main-font-family);
        display: inline-block;
        margin-left: 1vw;
    }
    
    .project_content {
        font-size: 2vw;
    }

    .comma {
        display: inline;
    }
    
    .employer {
        font-size: 3vw;
        font-family: var(--main-font-family);
        display: inline;
    }

    .footer {
        height: 4vw;
    }

    .footer p {
        font-size: 1.5vw;
    }
}


@media screen and (max-width: 1024px) and (min-width: 992px) and (orientation: landscape) {
    .container-fluid {
        margin-top: 3vw;
        color: var(--main-txt-color);
        font-family: var(--main-font-family);
    }

    .greeting {
        font-size: 4vw;
    }
    
    .content {
        font-size: 2.5vw;
    }

    .projects .row:last-child {
        padding-bottom: 6vw;
    }

    .row ul {
        margin-left: 4vw;
        margin-top: -1.5vw;
    }

    .project_name {
        font-size: 2.5vw;
        font-family: var(--main-font-family);
    }
    
    .project_content {
        font-size: 1.5vw;
    }

    .footer {
        height: 4vw;
    }

    .footer p {
        font-size: 1.5vw;
    }
}
